<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cloudDiskConfiguration" type="StarPan.Configuration.CloudDisksConfigurationSection,StarPan_New"/>
  </configSections>
  <appSettings>
    <add key="AliyunSDK.AliyunOssUtility" value="AliyunSDK.dll"/>
    <add key="BaiduCloudSDK.BaiduPCSDiskUtility" value="BaiduCloudSDK.dll"/>
  </appSettings>
  <cloudDiskConfiguration>
    <cloudDiskGroup>
      <cloudDisk name="baidu" 
                 className="BaiduCloudSDK.BaiduPCSDiskUtility" 
                 dllName="BaiduCloudSDK.dll" 
                 root="/apps/sjtupan/"
		 extensionfilter = "doc|docx|xls|xlsx|pdf|txt|vsd"
                 accessToken="Enter your token here"/>
      <cloudDisk name="kuaipan"
           className="KuaiPanSDK.KuaiPanUtility"
           dllName="KuaiPanSDK.dll"
           root=""
		 extensionfilter = "jpg|bmp|png|gif|tif|tiff"
           consumerKey="xxxx"
           consumerSecret="xxxx"
           token="xxxx"
           tokenSecret="xxxx"/>

      <cloudDisk name="aliyun"
                 className="AliyunSDK.AliyunOssUtility"
                 dllName="AliyunSDK.dll"
                 root=""
		 extensionfilter = "zip|exe|rar|7z|msi"
                 bucketName="sjtupan"
                 accessKey="xxxx"
                 accessSecret="xxxx"/>
    </cloudDiskGroup>
  </cloudDiskConfiguration>
</configuration>