<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cloudDiskConfiguration" type="StarPan.Configuration.CloudDisksConfigurationSection,StarPan_New"/>
  </configSections>
  <appSettings>
    <add key="AliyunSDK.AliyunOssUtility" value="AliyunSDK.dll"/>
    <add key="BaiduCloudSDK.BaiduPCSDiskUtility" value="BaiduCloudSDK.dll"/>
  </appSettings>
  <cloudDiskConfiguration>
    <cloudDiskGroup>
      <cloudDisk name="baidu" 
                 className="BaiduCloudSDK.BaiduPCSDiskUtility" 
                 dllName="BaiduCloudSDK.dll" 
                 accessToken="3.a0fdecf6c512ce56ff547b1fcbdc9750.2592000.1386781278.4195463253-248414"/>
      <cloudDisk name="aliyun"
                 className="AliyunSDK.AliyunOssUtility"
                 dllName="AliyunSDK.dll"
                 accessKey="Y8HLBRjlRgKp5SXV"
                 accessSecret="6nRLip0xiul2CZVsTDe36TYoqD09YT"/>
    </cloudDiskGroup>
  </cloudDiskConfiguration>
</configuration>