<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cloudDiskConfiguration" type="StarPan.Configuration.CloudDisksConfigurationSection,StarPan_New"/>
  </configSections>
  <appSettings>
    <add key="AliyunSDK.AliyunOssUtility" value="AliyunSDK.dll"/>
    <add key="BaiduCloudSDK.BaiduPCSDiskUtility" value="BaiduCloudSDK.dll"/>
  </appSettings>
  <cloudDiskConfiguration>
    <cloudDiskGroup>
      <cloudDisk name="baidu" 
                 className="BaiduCloudSDK.BaiduPCSDiskUtility" 
                 dllName="BaiduCloudSDK.dll" 
                 root="/apps/sjtupan/"
                 extensionfilter = "zip|exe|rar|7z|msi"
                 accessToken="3.82e22f97a851206bab41cfa680a7eede.2592000.1387678599.1477197110-1567359"/>
      <cloudDisk name="aliyun"
                 className="AliyunSDK.AliyunOssUtility"
                 dllName="AliyunSDK.dll"
                 root="app/"
                 extensionfilter = "jpg|bmp|png|gif|tif|tiff|txt|doc|docx|xls|xlsx|pdf"
                 accessKey="Y8HLBRjlRgKp5SXV"
                 accessSecret="6nRLip0xiul2CZVsTDe36TYoqD09YT"
                 bucketName ="localclouddisk"/>
      <!--<cloudDisk name="kuaipan"
                 className="KuaiPanSDK.KuaiPanUtility"
                 dllName="KuaiPanSDK.dll"
                 root="app/"
                 extensionfilter = ".doc|.docx|.xls|.xlsx|.pdf"
                 consumerKey="xcRYiOnHwra5Lb5o"
                 consumerSecret="l5sS04iA862dm00u"
                 token="0059a7586c815f96a1f8aedd"
                 tokenSecret="b5ffa76e063b4ff58e41e7843feab2ed"/>-->
    </cloudDiskGroup>
  </cloudDiskConfiguration>
</configuration>